<section>
    	<h1> Please enter the following information:</h1>
		<form action="subscribe.html" method="get" name="email_form" id="email_form">
			<menu>
			<label for="first_name">First name:</label>
			<input type="text" name="first_name" id="first_name" autofocus required><br>
			<label for="last_name">Last name:</label>
			<input type="text" name="last_name" id="last_name" required><br>
			<label for="email">Email:</label>
			<input type="email" name="email" id="email" required><br>
		

			<input type="submit" name="submit" id="button" value="send">
		</form>			

	</section>