.images{
	overflow: hidden;
	
}

.caption{
	font-size: 24px;
	margin-top: 20px;
	color: #000;
}
.images p{
	color: #000;
}
.images:hover img{
	cursor: pointer;
	transform: scale(1.1);
	transition: 1s all;
}