
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 100vh;
}

.banner{
  height: 40vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/M.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 30px;
}
.nav {
  width: 100%;
  background: #3c40c6;
  color: #f0f0f0;
}
.nav a{
  text-decoration: none;
  color: #fff;
}
.main .col a{
  text-decoration: none;
  text-align: center;
  color: #000;
}
.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu {
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.menu-item {
  display: inline-block;
  position: relative;
}

.menu-item:hover {
  background-color: #575fcf;
}

.nav a {
  display: block;
  padding: 12px 24px;
  cursor: pointer;
}

.submenu {
  font-weight: 300;
  text-transform: none;
  display: none;
  position: absolute;
  width: 220px;
  background-color: #3c40c6;
}

.menu-item:hover .submenu {
  display: block;
}

.submenu-item{
	 border-left: 4px solid transparent;
	 position: relative;
}

.submenu-item:hover {
	border-left: 4px solid #575fcf;
    background: #575fcf;
}

.menu .submenu ul{
	left: 100%;
	position: absolute;
	background: #3c40c6;
	top: 0%;
	width: 220px;
	display: none;
}

.submenu-item:hover > ul {
    display: block;
}
/*** aside css ****/
aside{
margin: 0 auto;
}

aside ul{
padding:0px;
} 

aside ul li{
width:100%;
line-height:40px;
border-bottom:1px solid #999999;
font-size:18px;
list-style-type: none;
}
aside ul li a{
  color: blue;
  text-decoration: none;
}
aside ul li:hover{
color:black;
background-color:white;
}
.main{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.col{
  width: 30%;
}
.col-center{
  width: 40%;
  padding: 40px;
}
.col.right {
    padding: 20px;
}
.col .heading{
  text-align: center;
}
figure {
  border: 3px solid #3c40c6;
  padding: 8px;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c40c6;
  color: #fff;
}

